<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
  </head>
  <body>
  	<!-- action = this form is submitted, submit it to this url  -->
  	<!-- you can leave the slash out -->
  	<form action="/search">
    	<input type="text" name = "searchTerm"> <!-- you need to name your form in order to pick up from server-->
    	<input type="submit">
  	</form>
  </body>
</html>

<!-- action = this form is submitted, submit it to this url  -->